{% extends "layout.njk" %}

    {% block head %}
        <title>Editar Chef</title>
    {% endblock %}

{% block content %}

    <div class="page_title">
            <h2>Editando Chef</h2>
    </div>

    <form id="delete" action="/admin/chefs?_method=DELETE" method="POST" >
        <div class="edit_button button_delete">
            <button type="submit">Deletar</button>
        </div>
        <input type="hidden" name="id" value="{{item.id}}">
    </form>

    <form action="/admin/chefs?_method=PUT" method="POST">
        {% include "admin/chefs/fields.njk" %}
        <input type="hidden" name="id" value="{{item.id}}">
    </form>

{% endblock %}
