<div class="edit_button save_button">
        <button type="submit">Salvar Chef</button>
</div>

<section class="recipes_page create">

    <div>
        <h5>Nome do chef</h5>
        <input 
        type="txt"
        name="name"
        placeholder="Escreva o nome do chef"
        value="{{item.name}}">
    </div>

    <div>
        <h5>Avatar</h5>
        <input 
        type="txt"
        placeholder="Escreva o seu nome">
    </div>

</div>
</section>