{% if session.admin == true %}
    <div class="edit_button save_button">
            <button type="submit">Salvar Chef</button>
    </div>
{% endif %}

<section class="recipes_page create">

    <div>
        <h5>Foto</h5>
        <div id="photos-upload">
            <input 
                id="photos-input"
                type="file"
                multiple
                name="chefs-photos"
                accept="image/*"
                onchange="PhotosUpload.handleFileInput(event)"
                >
            <i class="material-icons">add</i>
        </div>
    </div>
 
    <div id="photos-preview">
        {% if files %}
                <div class="photo" id="{{files.file_id}}">
                    <img src="{{files.src}}" alt="{{files.name}}">
                    <i class="material-icons"
                        onclick="PhotosUpload.removeOldPhoto(event)"
                    >close</i>
                </div>
            <input type="hidden" name ="removed_files">
        {% endif %} 
    </div>

    <div>
        <h5>Nome do chef</h5>
        <input 
        type="txt"
        name="name"
        placeholder="Escreva o nome do chef"
        value="{{files.name}}">
    </div>

</div>
</section>