{% extends "layout.njk" %}

    {% block head %}
        <title>Chefs</title>
    {% endblock %}

{% block content %}
    <div class="page_title">
        <h2>Chef: {{item.name}}</h2>
    </div>

    <div class="edit_button">
        <a href="/chefs/{{item.id}}/edit">Editar Chef</a>
    </div>

    <section>
        <div class="recipes_page"> 
        {% if not files %}
            <img src="https://placehold.it/500x500?text=PRODUTO SEM FOTO" alt="produto sem foto">
        {% else %}
            <img class="chef_image"
                src="{{files.src}}" 
                alt="{{files.name}}"
            >
        {% endif %}
            <h3>{{item.name}}</h3>
            <p>{{item.total_recipes}} receitas</p>

            <div>
                <h4>Receitas</h4>
                    <div class="recipes_profile">
                        {% for recipe in recipes %}
                            {% if item.id == recipe.chef_id %}
                                <div class="recipe_box">
                                    <img class ="image" src="{{recipe.src}}" alt="imagem de {{recipe.title}}">
                                    <div>
                                        <h3 class ="title">{{recipe.title}}</h3>
                                        <p class = "author">por {{item.name}}</p>
                                        <a href="/recipes/{{recipe.id}}">Visualizar</a>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
             </div>
    </section>

{% endblock %}