{% extends "layout.njk" %}

    {% block head %}
        <title>Cadastro</title>
    {% endblock %}

{% block content %}

<section class="title">
        <div class="register">
            <h2>Cadastre-se</h2>
        </div>
    <form method="post" action="/register">
            
        <button class="register_button" type="submit">Salvar</button>
</section>
        
        
        <div class="fields register">
            {% include "admin/users/fields.njk" %}
        </div>
        
    </form>
    
{% endblock %}