
.lottie h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 1.6rem;
}

.lottie a{
    display: block;
    width: 80px;
    margin: 0 auto;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: bold;
    background-color: var(--primary-color);
    border-radius: 4px;
    padding: 9px 20px;
    cursor: pointer;
    text-align: center;
}

a.lottie:hover {
    color: black;
}

.lottie .fill-form-lottie {
    height: 400px;
}

.lottie .upload-photo-lottie {
    height: 200px;
    margin-top: 75px;
}

.lottie a.success {
    width: 170px;
}

.lottie .success-lottie {
    height: 350px;
    margin-top: 75px;
}