@keyframes hidemessage {
    to {right: -20%; opacity: 0;}   
}

.messages {
    display: inline;
    position: absolute;
    top: 0;
    right: 2%;
    color: white;
    font-size: 14px;
    padding: 32px 50px;
    border-radius: 10px;
    animation: hidemessage 400ms 5s ease-out forwards;
}

.messages.error {
    background-color: red;
}

.messages.success {
    background-color: green;
}