/*=== LOGIN FORM ===*/

.fields_login {
    width: 100%;
}
section.login {
    min-height: 90%;
}

.input-login{
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
}

.login h2 {
    margin-top: 150px;
    text-align: center;
    margin-left: 0;
}

.login h5 {
    font-size: 1.6rem;
    margin-top: 30px;
}

.login .footer ul {
    width: 100%;
    max-width: 500px;
    list-style: none;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.login .footer ul li a {
    text-decoration: none;
    font-size: 1.6rem;
    color: #999;
}

.login .footer ul li a:hover {
    color: black;
}
