/*=== LOGIN FORM ===*/

section.login {
    min-height: 90%;
}

.login h2 {
    margin-top: 150px;
    text-align: center;
    margin-left: 0;
}

.login h5 {
    font-size: 1.6rem;
    margin-left: 230px;
    margin-top: 30px;
}

.login .footer ul {
    width: 500px;
    list-style: none;
    margin-top: 30px;
    margin-left: 230px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login .footer ul li a {
    text-decoration: none;
    font-size: 1.6rem;
    color: #999;
}

.login .footer ul li a:hover {
    color: black;
}