/* === REGISTER ===*/
.profiles_box {
    margin-top: 50px;
}

section.user-register {
    height: auto;
}

.user-register h5 {
    margin-top: 5px;
    font-size: 1.4rem;
    line-height: 50px;
    font-weight: bold;
    color: var(--color-letter);
}


.user-register .fields input, .login input {
    border: 1px solid #c9bfbf;;
    padding: 8px 12px;
    width: 100%;
    max-width: 300px;
}

.login input {
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin-top: 10px;
}

.user-register .fields input::placeholder, .login input {
    color: #c9bfbf;
}

.user-register .fields.register {
    margin: 0 auto;
    width: 100%;
    max-width: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.user-register .fields h5 {
    font-size: 1.6rem;
    margin-top: 70px;
}


/*=== USER CREATE ===*/

.register h2 {
    width: 855px;
}

.user-register .checkbox {
    margin-top: 40px;
    display: flex;
    align-items: center;
}

.user-register .checkbox input {
    margin-left: 11.5%; 
}

.user-register .checkbox label {
    margin-left: 10px;
    font-size: 1.4rem;
    font-weight: bold;
}

/*===DELETE USER ===*/

.edit-form, .delete-form, .register-form {
    display: flex;
    justify-content: space-between;
    width: 220px;
}

.delete-form{
    width: 240px;
}

.button_delete.profile {
    margin-right: 20px;
}

a.button.cancel_button {
    background-color: #999;
    margin-right: 20px;
}

.delete_block {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 90px;
}

.delete_block p {
    font-size: 1.4rem;
    margin-top: 20px;
    width: auto;
    padding: 8px 20px;
    border: 1px solid #c9bfbf;
}

.delete_block h5 {
    font-size: 1.6rem;
}

