{% extends "layout.njk" %}

    {% block head %}
        <title>Criar Usuário</title>
    {% endblock %}

{% block content %}

<section class="title">
    <div class="user-create">
        <h2>Criar Usuário</h2>
    </div>
    <form method="post" action="/admin/users">
            {% if session.admin == true %}
                <button class="register_button" type="submit">Salvar</button>
            {% endif %}
</section>    
        {% include "admin/profile/fields.njk" %}
        
    </form>
    
{% endblock %}