{% extends "layout.njk" %}

    {% block head %}
        <title>Deletar Usuário</title>
    {% endblock %}

{% block content %}
<section class="title">
    <div class="delete_user">
        <h2>Deletar Usuário</h2>
    </div>

    <div class="delete-form">
        <a class=" button cancel_button" href="/admin/users">Cancelar</a>
        
        {% if session.admin == true and session.userId != user.id %}
            <form id="delete" action="/admin/users?_method=DELETE" method="POST" >
                    <button class="delete-button" type="submit">Deletar</button>
            <input type="hidden" name="id" value="{{user.id}}">
            </form>
        {% endif %}
    </div>

</section>

<section>
    <div class="delete_block">
        <div>
            <h5>Nome Completo</h5>
            <div class="delete_form">
                <p>{{user.name}}</p>
            </div>
        </div>

        <div>
            <h5>Email</h5>
            <div class="delete_form">
                <p>{{user.email}}</p>
            </div>
        </div>
    </div>
</section>
    
{% endblock %}