{% extends "layout.njk" %}

    {% block head %}
        <title>Atualizar Usuário</title>
    {% endblock %}

{% block content %}

    <section class="user-register profile">
        <form id="delete" action="/admin/users?_method=DELETE" method="POST" >
            <div class="button_delete users">
                <button type="submit">Deletar</button>
            </div>
            <input type="hidden" name="id" value="{{user.id}}">
        </form>

        <a href="/admin/users">Cancelar</a>

    <div>
        <h5>Nome Completo</h5>
        <div class="delete_form">
            <p>{{user.name}}</p>
        </div>
    </div>

    <div>
        <h5>Email</h5>
        <div class="delete_form">
            <p>{{user.email}}</p>
        </div>
    </div>
</div>

    </section>
    
{% endblock %}