{% extends "layout.njk" %}

    {% block head %}
        <title>Atualizar Usuário</title>
    {% endblock %}

{% block content %}

    <section class="user-register profile">
        <a class="button cancel_button edit" href="/admin/users">Cancelar</a>

        <form action="/admin/users?_method=PUT" method="POST">
            <div class="header">
                <h2>Atualizar Usuário</h2>
                {% if session.admin == true %}
                    <button class="register_button" type="submit">Salvar</button>
                {% endif %}
            </div>

            {% include "admin/profile/fields.njk" %}

            <input type="hidden" name="id" value="{{user.id}}">
        </form>
    </section>
    
{% endblock %}