{% extends "layout.njk" %}

    {% block head %}
        <title>Atualizar Usuário</title>
    {% endblock %}

{% block content %}

    <section class="user-register profile">
        <form id="delete" action="/admin/users?_method=DELETE" method="POST" >
            <div class="button_delete users">
                <button type="submit">Deletar</button>
            </div>
            <input type="hidden" name="id" value="{{user.id}}">
        </form>


        <form action="/admin/users?_method=PUT" method="POST">
            <div class="header">
                <h2>Atualizar Usuário</h2>

                <button class="register_button" type="submit">Salvar</button>
            </div>

            {% include "admin/profile/fields.njk" %}

            <input type="hidden" name="id" value="{{user.id}}">
        </form>
    </section>
    
{% endblock %}