{% extends "layout.njk" %}

    {% block head %}
        <title>Atualizar Usuário</title>
    {% endblock %}

{% block content %}

    <section class="title">
        <div class="user-update">
            <h2>Atualizar Usuário</h2>
        </div>
        <div class="edit-form">
            <a class="button cancel_button edit" href="/admin/users">Cancelar</a>

            <form action="/admin/users?_method=PUT" method="POST">
                {% if session.admin == true %}
                    <button class="register_button" type="submit">Salvar</button>
                {% endif %}
        </div>
    </section>

            {% include "admin/profile/fields.njk" %}

            <input type="hidden" name="id" value="{{user.id}}">
        </form>
    
{% endblock %}