{% extends "layout.njk" %}

    {% block head %}
        <title>Usuários</title>
    {% endblock %}

{% block content %}
    <section class="title">
        <div class="page_title">
            <h2>Usuários</h2>
        </div>
        <div class="menu-button">
            <form action="/admin/users" method="GET">
                <input 
                    type="text"
                        name="filter"
                    value="{{filter}}"
                    placeholder="Filtrar por usário"
                >
                <button type="submit">Filtrar</button>
            </form>
            <a class="button user" href="/admin/users/create">Novo</a>
        </div>
    </section>

    <section class="menu-card">
        {% if filter %}
            <h2>Procurando por: {{filter}}</h2>
        {% endif %}
        
        <div class="profiles_box">
            {% for user in users %}
                <div class="recipes">
                    <div class="profiles users">
                        <div class="users">
                            <h4 class ="title">{{user.name}}</h4>
                            <p>{{user.email}}</p>
                            {% if session.admin == true %}
                                <a href="/admin/users/{{user.id}}">Editar</a>
                            {% endif %}
                            {% if session.admin == true and session.userId != user.id %}
                                <a class="edit_a" href="/admin/users/{{user.id}}/delete">Remover</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}           
        </div>
    </section>

    <section>
        <div class="pagination chef"
            data-page="{{pagination.page}}"
            data-total="{{pagination.total}}"
            data-filter="{{filter}}">
        </div>
    </section>
        
{% endblock %}