{% extends "layout.njk" %}

    {% block head %}
        <title>Sobre</title>
    {% endblock %}

{% block content %}
    <section class = "about_page">
        <div>
            <h1>Sobre o Foodfy</h1>
            <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse commodo enim ante, facilisis consequat nulla blandit id. Integer varius non nisl quis sagittis. Proin ultricies laoreet volutpat. Sed in dui dolor. Praesent ut massa at purus vestibulum consequat. Praesent ipsum sapien, convallis non ligula nec, condimentum aliquet purus. Quisque vitae feugiat est, a auctor sem. Cras interdum enim enim, sodales rhoncus est cursus id. Morbi purus odio, imperdiet eu feugiat nec, scelerisque eu massa. Vivamus lobortis dolor ac orci varius tincidunt. Nulla nec accumsan lacus, sed lobortis mauris. Nullam hendrerit vitae urna quis commodo. Nunc sollicitudin, diam sit amet consequat viverra, ligula tortor efficitur nulla, id iaculis tortor nibh a nibh. Nulla nec odio ut augue accumsan sagittis. Ut nisi libero, hendrerit eget egestas a, rutrum sed nisi.</p> 
            <p>Vivamus porta dignissim ligula. Pellentesque et purus eget turpis venenatis sagittis. Pellentesque at quam vitae erat consequat volutpat vitae ac nibh. Praesent finibus, velit vel varius pretium, tellus odio semper orci, et lacinia lorem sem id neque. Curabitur vitae ultrices sapien. Maecenas eu leo consectetur, auctor enim vel, efficitur diam. Etiam ut iaculis ipsum. Aliquam gravida lacus at lorem maximus laoreet. Cras eleifend rhoncus tellus, at suscipit libero finibus eget. Nullam vitae metus dapibus, dignissim ante viverra, accumsan enim.</P>
        </div>
        
        <div>
            <h2>Como tudo começou...</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse commodo enim ante, facilisis consequat nulla blandit id. Integer varius non nisl quis sagittis. Proin ultricies laoreet volutpat. Sed in dui dolor. Praesent ut massa at purus vestibulum consequat. Praesent ipsum sapien, convallis non ligula nec, condimentum aliquet purus. Quisque vitae feugiat est, a auctor sem. Cras interdum enim enim, sodales rhoncus est cursus id. Morbi purus odio, imperdiet eu feugiat nec, scelerisque eu massa. Vivamus lobortis dolor ac orci varius tincidunt. Nulla nec accumsan lacus, sed lobortis mauris. Nullam hendrerit vitae urna quis commodo. Nunc sollicitudin, diam sit amet consequat viverra, ligula tortor efficitur nulla, id iaculis tortor nibh a nibh. Nulla nec odio ut augue accumsan sagittis. Ut nisi libero, hendrerit eget egestas a, rutrum sed nisi.</p>
            <p>Vivamus porta dignissim ligula. Pellentesque et purus eget turpis venenatis sagittis. Pellentesque at quam vitae erat consequat volutpat vitae ac nibh. Praesent finibus, velit vel varius pretium, tellus odio semper orci, et lacinia lorem sem id neque. Curabitur vitae ultrices sapien. Maecenas eu leo consectetur, auctor enim vel, efficitur diam. Etiam ut iaculis ipsum. Aliquam gravida lacus at lorem maximus laoreet. Cras eleifend rhoncus tellus, at suscipit libero finibus eget. Nullam vitae metus dapibus, dignissim ante viverra, accumsan enim.</p>
        </div>

        <div>
            <h2>Nossas receitas</h2>
            <p>Cras a ligula eget sapien faucibus laoreet. Ut volutpat felis eget eros luctus tempor. Aenean efficitur tellus a lectus tristique, at condimentum lacus consequat. Proin imperdiet vitae justo ac varius. Sed rhoncus venenatis neque eu tincidunt. Pellentesque sit amet sapien nec risus laoreet ullamcorper. Integer elementum bibendum volutpat. Cras sit amet consequat quam. Ut euismod nunc ut rhoncus imperdiet. Integer purus enim, ullamcorper ac est in, accumsan gravida enim. Phasellus nec ante sed sapien consectetur lacinia. Vestibulum massa sem, tincidunt sit amet est ac, molestie blandit arcu. Morbi lacinia lorem ac dapibus feugiat. Aenean eros mauris, rutrum at egestas nec, auctor eu lacus. Nulla accumsan est maximus vestibulum scelerisque. Sed lacinia feugiat vulputate.</p>
        </div>

    </section>
{% endblock %}