{% extends "layout.njk" %}

    {% block head %}
        <title>Receitas</title>
    {% endblock %}

{% block content %}
    <div class="page_title">
        <h2>Criando Receita</h2>
    </div>
    <form method="post" action="/recipes" enctype="multipart/form-data">
        
        {% include "admin/recipes/fields.njk" %}

    </form>

{% endblock %}
