
<section class="recipes_page create">
    <div>
        <h5>Imagem da receita</h5>
        <div id="photos-upload">
            <input 
                id="photos-input"
                type="file"
                multiple
                name="photos"
                accept="image/*"
                onchange="PhotosUpload.handleFileInput(event)"
                >
            <i class="material-icons">add</i>
        </div>
    </div>

    <div id="photos-preview">
        {% if files %}
            {% for image in files %}
                <div class="photo" id="{{image.file_id}}">
                    <img src="{{image.src}}" alt="{{image.name}}">
                    <i class="material-icons"
                        onclick="PhotosUpload.removeOldPhoto(event)"
                    >close</i>
                </div>
            {% endfor %}
            <input type="hidden" name ="removed_files">
        {% endif %} 
    </div>

    <div>
        <h5>Nome da receita</h5>
        <input 
        type="txt"
        name="title"
        placeholder="Escreva o nome da receita"
        value="{{item.title}}">
    </div>

    <div>
        <h5>Chef</h5>
        <select name="chefs">
            {% for chef in chefOptions %}
                <option value="{{chef.id}}" 
                {% if item.chef_id == chef.id %} selected {% endif %}>
                    {{chef.name}}
                </option>
            {% endfor %}
        </select>
    </div>
    
    <div id="add-button">
            <h5>Ingredientes</h5>

                <div id="ingredients">
                    {% if item %}
                        {% for ingredient in item.ingredients %}
                            <div class="ingredient">
                                <input 
                                    type="text" 
                                    name="ingredients[]" 
                                    class="add-ingredient"
                                    value="{{ingredient}}"
                                >
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="ingredient">
                            <input 
                                type="text" 
                                name="ingredients[]" 
                                class="add-ingredient"
                            >
                        </div>
                    {% endif %}
                </div>

            <button type="button" class="add-ingredient">Adicionar novo ingrediente</button>

            <h5>Modo de preparo</h5>

            <div id="preparation">
                {% if item %}
                    {% for eachStep in item.preparation %}
                        <div class="step">
                            <input 
                                type="text" 
                                name="preparation[]" 
                                class="add-preparation"
                                value="{{eachStep}}"
                            >
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="step">
                        <input 
                            type="text" 
                            name="preparation[]" 
                            class="add-preparation"
                        >
                    </div>
                {% endif %}
            </div>
            
            <button type="button" class="add-preparation">Adicionar novo passo</button>
    </div>  

    <div>
        <h5>Informações adicionais</h5>
        <input 
        class="additional_info"
        type="txt"
        name="information"
        placeholder="Escreva informações adicionais"
        value="{{item.information}}">
    </div>
</div>
</section>

