{% extends "layout.njk" %}

    {% block head %}
        <title>Receitas</title>
    {% endblock %}

{% block content %}
    <section class="title">
        <div class="page_title">
            <h2>Gerenciar Receitas</h2>
        </div>
        
        <div class="menu-button">
            <form action="/recipes" method="GET">
                <input 
                    type="text"
                        name="filter"
                    value="{{filter}}"
                    placeholder="Filtrar por receita ou por chef"
                >
                <button type="submit">Filtrar</button>
            </form>
            <a class="button" href="/recipes/create">Nova Receita</a>
        </div>
    </section>

    <section class="menu-card">
        {% if filter %}
            <h2>Procurando por: {{filter}}</h2>
        {% endif %}
        
        <div class="food_box recipe">
            {% for item in items %}
                <div class="recipes">
                    <img class ="image" src="{{item.src}}" alt="imagem de {{item.title}}">
                    <h3 class ="title">{{item.title}}</h3>
                    <p class = "author">por {{item.chefs_name}}</p>
                    <a href="/recipes/{{item.id}}">Visualizar</a>
                </div>
            {% endfor %}         
        </div>
    </section>

    <section>
        <div 
            class="pagination"
            data-page="{{pagination.page}}"
            data-total="{{pagination.total}}"
            data-filter="{{filter}}">
        </div>
    </section>
    
{% endblock %}