<!DOCTYPE html>

<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        {% block head %}
            <title>Foodfy</title>
        {% endblock %}
         
        {% include "admin/parts/styles.njk" %}
        
    </head>

    <body>
        <header>
            <img src="/images/logo.png" alt="Foodfy">

            <div  class="menu">
                <a href="/">Home</a>
                <a href="/recipes/about">Sobre</a>
                <a href="/recipes">Receitas</a>
                <a href="/chefs">Chefs</a>
            </div>
            
        </header>

        {% include "admin/parts/messages.njk" %}

        {% block content %} {% endblock %}

        <script src="/scripts.js"></script>
        <footer>
                <h4>Todos os direitos reservados, receitas Foodfy.</h4>
        </footer>
    </body>
</html>