<!DOCTYPE html>

<html lang="pt-br">
    <div class="container">
        <head>
            <meta charset="UTF-8">
            {% block head %}
                <title>Foodfy</title>
            {% endblock %}
            
            {% include "admin/parts/styles.njk" %}
             <link rel="icon" href="/favicon.ico"/>
        
        </head>

        <body>
            <header>
                <div  class="menu">
                    <a href="/"><img src="/images/logo.png" alt="Foodfy"></a>
                    <a href="/">Home</a>
                    <a href="/recipes/about">Sobre</a>
                    <a href="/recipes">Receitas</a>
                    <a href="/chefs">Chefs</a>
                    {% if session.admin == true %}
                        <a href="/admin/users">Usuários</a>
                    {% endif %}
                    
                    {% if session.userId %}
                        <form action="/logout" method="POST">
                            <button class="logout">SAIR</button>
                        </form>
                    {% else %}
                            <a class="login" href="/accounts">ENTRAR</a>
                    {% endif %}
                </div>
            </header>

            {% include "admin/parts/messages.njk" %}

            {% block content %} {% endblock %}

            <script src="/scripts.js"></script>
            <footer>
                    <h4>Todos os direitos reservados, receitas Foodfy.</h4>
            </footer>
        </body>
    </div>
</html>